In [35]:
import pandas as pd
import requests

In [53]:
url_link = 'https://finance.yahoo.com/quote/%5EGSPC/history?period1=1641166055&period2=1672702055&interval=1wk&filter=history&frequency=1wk&includeAdjustedClose=true'
r = requests.get(url_link,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})

data = pd.read_html(r.text)

In [54]:
data[0]  # S&P 500

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Dec 31, 2022",-,-,-,-,-,-
1,"Dec 24, 2022",3843.34,3858.19,3780.78,3839.50,3839.50,12097370000
2,"Dec 17, 2022",3853.79,3889.82,3764.49,3844.82,3844.82,18506410000
3,"Dec 10, 2022",3939.29,4100.96,3827.91,3852.36,3852.36,25443390000
4,"Dec 03, 2022",4052.02,4052.45,3918.39,3934.38,3934.38,20662410000
5,"Nov 26, 2022",4005.36,4100.51,3937.65,4071.70,4071.70,22280580000
6,"Nov 19, 2022",3956.23,4034.02,3933.34,4026.12,4026.12,12724860000
7,"Nov 12, 2022",3977.97,4028.84,3906.54,3965.34,3965.34,21831700000
8,"Nov 04, 2022",3780.71,4001.48,3744.22,3992.93,3992.93,24968840000
9,"Oct 28, 2022",3881.85,3911.79,3698.15,3770.55,3770.55,24226300000
10,"Oct 21, 2022",3762.01,3905.42,3741.65,3901.06,3901.06,23555090000
11,"Oct 14, 2022",3638.65,3762.79,3638.65,3752.75,3752.75,22634960000
12,"Oct 07, 2022",3647.51,3712.00,3491.58,3583.07,3583.07,21864890000
13,"Sep 30, 2022",3609.78,3806.91,3604.93,3639.66,3639.66,22948200000
14,"Sep 23, 2022",3682.72,3736.74,3584.13,3585.62,3585.62,24475900000
15,"Sep 16, 2022",3849.91,3907.07,3647.47,3693.23,3693.23,21332100000
16,"Sep 09, 2022",4083.67,4119.28,3837.08,3873.33,3873.33,24728470000
17,"Sep 02, 2022",3930.89,4076.81,3886.75,4067.36,4067.36,15886450000
18,"Aug 26, 2022",4034.58,4062.99,3903.65,3924.26,3924.26,19592960000
19,"Aug 19, 2022",4195.08,4203.04,4057.66,4057.66,4057.66,18714200000
20,"Aug 12, 2022",4269.37,4325.28,4218.70,4228.48,4228.48,19013350000
21,"Aug 05, 2022",4155.93,4280.47,4112.09,4280.15,4280.15,21098400000
22,"Jul 29, 2022",4112.38,4167.66,4079.81,4145.19,4145.19,21651540000
23,"Jul 22, 2022",3965.72,4140.15,3910.74,4130.29,4130.29,20488830000
24,"Jul 15, 2022",3883.79,4012.44,3818.63,3961.63,3961.63,20385270000
25,"Jul 08, 2022",3880.94,3880.94,3721.56,3863.16,3863.16,19693570000
26,"Jul 01, 2022",3792.61,3918.50,3742.06,3899.38,3899.38,17073700000
27,"Jun 24, 2022",3920.76,3945.86,3738.67,3825.33,3825.33,21693690000
28,"Jun 17, 2022",3715.31,3913.65,3715.31,3911.74,3911.74,23570150000
29,"Jun 10, 2022",3838.15,3838.15,3636.87,3674.84,3674.84,30486930000
30,"Jun 03, 2022",4134.72,4168.78,3900.16,3900.86,3900.86,21764190000
31,"May 27, 2022",4151.09,4177.51,4073.85,4108.54,4108.54,19471340000
32,"May 20, 2022",3919.42,4158.49,3875.13,4158.24,4158.24,23231370000
33,"May 13, 2022",4013.02,4090.72,3810.32,3901.36,3901.36,24603940000
34,"May 06, 2022",4081.27,4081.27,3858.87,4023.89,4023.89,29126270000
35,"Apr 29, 2022",4130.61,4307.66,4062.51,4123.34,4123.34,25076170000
36,"Apr 22, 2022",4255.34,4308.45,4124.28,4131.93,4131.93,24637900000
37,"Apr 15, 2022",4385.63,4512.94,4267.62,4271.78,4271.78,21597890000
38,"Apr 08, 2022",4462.64,4471.00,4381.34,4392.59,4392.59,16329620000
39,"Apr 01, 2022",4547.97,4593.45,4450.04,4488.28,4488.28,23239490000
40,"Mar 25, 2022",4541.09,4637.30,4507.57,4545.86,4545.86,23169700000
41,"Mar 18, 2022",4462.40,4546.03,4424.30,4543.06,4543.06,22611740000
42,"Mar 12, 2022",4202.75,4465.40,4161.72,4463.12,4463.12,30540660000
43,"Mar 05, 2022",4327.01,4327.01,4157.87,4204.31,4204.31,29765730000
44,"Feb 26, 2022",4354.17,4416.78,4279.54,4328.87,4328.87,28092740000
45,"Feb 19, 2022",4332.74,4385.34,4114.65,4384.65,4384.65,21848520000
46,"Feb 12, 2022",4412.61,4489.55,4327.22,4348.87,4348.87,22562340000
47,"Feb 05, 2022",4505.75,4590.03,4401.41,4418.64,4418.64,23778810000
48,"Jan 29, 2022",4431.79,4595.31,4414.02,4500.53,4500.53,23505280000
49,"Jan 22, 2022",4356.32,4453.23,4222.62,4431.85,4431.85,27889090000
50,"Jan 15, 2022",4632.24,4632.24,4395.34,4397.94,4397.94,19444410000
51,"Jan 08, 2022",4655.34,4748.83,4582.24,4662.85,4662.85,21251840000
52,"Jan 01, 2022",4778.14,4818.62,4662.74,4677.03,4677.03,21878940000
53,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [66]:
data[0].head(53)[::-1]

            Date     Open     High      Low   Close* Adj Close**       Volume
52  Jan 01, 2022  4778.14  4818.62  4662.74  4677.03     4677.03  21878940000
51  Jan 08, 2022  4655.34  4748.83  4582.24  4662.85     4662.85  21251840000
50  Jan 15, 2022  4632.24  4632.24  4395.34  4397.94     4397.94  19444410000
49  Jan 22, 2022  4356.32  4453.23  4222.62  4431.85     4431.85  27889090000
48  Jan 29, 2022  4431.79  4595.31  4414.02  4500.53     4500.53  23505280000
47  Feb 05, 2022  4505.75  4590.03  4401.41  4418.64     4418.64  23778810000
46  Feb 12, 2022  4412.61  4489.55  4327.22  4348.87     4348.87  22562340000
45  Feb 19, 2022  4332.74  4385.34  4114.65  4384.65     4384.65  21848520000
44  Feb 26, 2022  4354.17  4416.78  4279.54  4328.87     4328.87  28092740000
43  Mar 05, 2022  4327.01  4327.01  4157.87  4204.31     4204.31  29765730000
42  Mar 12, 2022  4202.75  4465.40  4161.72  4463.12     4463.12  30540660000
41  Mar 18, 2022  4462.40  4546.03  4424.30  4543.06     4543.06  22611740000
40  Mar 25, 2022  4541.09  4637.30  4507.57  4545.86     4545.86  23169700000
39  Apr 01, 2022  4547.97  4593.45  4450.04  4488.28     4488.28  23239490000
38  Apr 08, 2022  4462.64  4471.00  4381.34  4392.59     4392.59  16329620000
37  Apr 15, 2022  4385.63  4512.94  4267.62  4271.78     4271.78  21597890000
36  Apr 22, 2022  4255.34  4308.45  4124.28  4131.93     4131.93  24637900000
35  Apr 29, 2022  4130.61  4307.66  4062.51  4123.34     4123.34  25076170000
34  May 06, 2022  4081.27  4081.27  3858.87  4023.89     4023.89  29126270000
33  May 13, 2022  4013.02  4090.72  3810.32  3901.36     3901.36  24603940000
32  May 20, 2022  3919.42  4158.49  3875.13  4158.24     4158.24  23231370000
31  May 27, 2022  4151.09  4177.51  4073.85  4108.54     4108.54  19471340000
30  Jun 03, 2022  4134.72  4168.78  3900.16  3900.86     3900.86  21764190000
29  Jun 10, 2022  3838.15  3838.15  3636.87  3674.84     3674.84  30486930000
28  Jun 17, 2022  3715.31  3913.65  3715.31  3911.74     3911.74  23570150000
27  Jun 24, 2022  3920.76  3945.86  3738.67  3825.33     3825.33  21693690000
26  Jul 01, 2022  3792.61  3918.50  3742.06  3899.38     3899.38  17073700000
25  Jul 08, 2022  3880.94  3880.94  3721.56  3863.16     3863.16  19693570000
24  Jul 15, 2022  3883.79  4012.44  3818.63  3961.63     3961.63  20385270000
23  Jul 22, 2022  3965.72  4140.15  3910.74  4130.29     4130.29  20488830000
22  Jul 29, 2022  4112.38  4167.66  4079.81  4145.19     4145.19  21651540000
21  Aug 05, 2022  4155.93  4280.47  4112.09  4280.15     4280.15  21098400000
20  Aug 12, 2022  4269.37  4325.28  4218.70  4228.48     4228.48  19013350000
19  Aug 19, 2022  4195.08  4203.04  4057.66  4057.66     4057.66  18714200000
18  Aug 26, 2022  4034.58  4062.99  3903.65  3924.26     3924.26  19592960000
17  Sep 02, 2022  3930.89  4076.81  3886.75  4067.36     4067.36  15886450000
16  Sep 09, 2022  4083.67  4119.28  3837.08  3873.33     3873.33  24728470000
15  Sep 16, 2022  3849.91  3907.07  3647.47  3693.23     3693.23  21332100000
14  Sep 23, 2022  3682.72  3736.74  3584.13  3585.62     3585.62  24475900000
13  Sep 30, 2022  3609.78  3806.91  3604.93  3639.66     3639.66  22948200000
12  Oct 07, 2022  3647.51  3712.00  3491.58  3583.07     3583.07  21864890000
11  Oct 14, 2022  3638.65  3762.79  3638.65  3752.75     3752.75  22634960000
10  Oct 21, 2022  3762.01  3905.42  3741.65  3901.06     3901.06  23555090000
9   Oct 28, 2022  3881.85  3911.79  3698.15  3770.55     3770.55  24226300000
8   Nov 04, 2022  3780.71  4001.48  3744.22  3992.93     3992.93  24968840000
7   Nov 12, 2022  3977.97  4028.84  3906.54  3965.34     3965.34  21831700000
6   Nov 19, 2022  3956.23  4034.02  3933.34  4026.12     4026.12  12724860000
5   Nov 26, 2022  4005.36  4100.51  3937.65  4071.70     4071.70  22280580000
4   Dec 03, 2022  4052.02  4052.45  3918.39  3934.38     3934.38  20662410000
3   Dec 10, 2022  3939.29  4100.96  3827.91  3852.36     3852.36  25443390000
2   Dec 17, 2022  3853.79  3889.82  3764.49  3844.82     3844.82  18506410000
1   Dec 24, 2022  3843.34  3858.19  3780.78  3839.50     3839.50  12097370000
0   Dec 31, 2022        -        -        -        -           -            -